<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg position-fixed navbar-floating">
  <div class="container-fluid px-4">
    <a class="navbar-brand fw-bold text-uppercase" href="#">UserLogin</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"><span class="navbar-toggler-icon"></span></button>

    {% if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signout' %}">Sign out</a>
          </li>
        </ul>
      </div>
    {% else %}
      <div class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
