{% extends 'base.html' %}
{% block body %}
  

<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>salary List</h2>

<table>
  <tr>
    <th>HRA</th>
    <th>DA</th>
    <th>TA</th>
    <th>Overtime</th>
    <th>Gross Salary</th>
    <th>
      Action
    </th>
  </tr>
  
  {% for s in salary %}
  <tr>
    <td>{{}}</td>
    
    <td>
      <a href="{% url 'productDelete' p.id %}">Delete</a>
      <a href="{% url 'editproduct' p.id %} ">edit</a>
    </td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
{% endblock body %}